:root {
    --ff-primary: 'Metrophobic', sans-serif;

    --clr-text: #fff;

    --margin-medium: 2rem 0;
    --margin-regular: .5rem 0;
}

body {
    padding: 2rem .5rem;
    min-height: 100vh;
    background-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--clr-text);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100%, 662px);
    margin: 0 auto;
}

.header {
    background-color: rgb(65, 65, 65);
}

.header__location {
    font-size: 1.5rem;
}

.header__temp {
    margin: var(--margin-regular);
    font-size: 2.5rem;
}

.min-max__wrapper {
    flex-direction: row;
    gap: .5rem;
}

.slider {
    margin: 2rem 0 .5rem;
    min-height: 150px;
    border-radius: 1rem;
    background-color: rgb(65, 65, 65);
}

.forecast {
    border-radius: 1rem;
    background-color: rgb(65, 65, 65);
}

.forecast__row {
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 40% 1fr 33%;
}

/* .row_day {

} */

.min-max__row {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}