:root {
    --ff-primary: 'Metrophobic', sans-serif;

    --clr-text: #fff;

    --margin-medium: 2rem 0;
    --margin-regular: .5rem 0;
}

body {
    padding: 2rem .5rem;
    min-height: 100vh;
    background-color: rgb(110, 92, 92);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
    color: var(--clr-text);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(100%, 662px);
    margin: 0 auto;
}

.header {
    background-color: rgb(65, 65, 65);
    margin: 0 0 2rem;
}

.header__location {
    font-size: 1.5rem;
}

.header__temp {
    position: relative;
    margin: -.5rem;
    font-size: 3rem;
}

.header__temp span {
    font-size: 2rem;
    position: absolute;
    right: -1rem;
    top: .2rem;
}

.min-max__wrapper {
    font-size: 80%;
    flex-direction: row;
    gap: .5rem;
}

.forecast {
    margin: .5rem 0 0;
    border-radius: 1rem;
    background-color: rgb(65, 65, 65);
}

.forecast__row {
    position: relative;
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .row__day {

} */

.min-max__row {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.row__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
}

.slider {
    position: relative;
    min-height: 120px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(65, 65, 65, 0.562);
}

.row__wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: repeat(24, 4.15%);
    place-items: center;
    /* gap: 1rem; */
    pointer-events: none;
    user-select: none;
    /* z-index: -1; */
}

.slider__item {
    height: 100%;
    justify-content: space-evenly;
}

.hourly__icon {
    width: 32px;
    height: 32px;
}