@media (min-width: 480px) {
  .container {
    width: min(100%, 662px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.14);
    overflow: auto;
  }

  .wrapper::-webkit-scrollbar {
    display: none;
  }

  .forecast {
    flex-direction: row;
  }

  .forecast__wrapper {
    width: 50%;
  }

  .box__wrapper {
    display: flex;
    gap: 0.5rem;
    width: 48%;
  }

  
  .box {
    width: 50%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 24%;
    gap: .5rem;
  }

  .map__wrapper {
    width: 100%;
  }
  
  #map { 
    height: 220px;
    border-radius: .5rem;
  }

  .rain-visibility {
    flex-direction: column;
    width: 100%;
  }
  
  .rain,
  .visibility {
    width: 100%;
  }

}
